* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%; 
    height: 500px; 
    border: 1px solid #333;
    margin: auto;
    position: relative; /* position relative para que os elementos filhos possam ser posicionados absolutamente em relação a este contêiner */
    overflow: hidden; /* o overflow é usado para esconder elementos que saem do contêiner */
}

.pipe {
    position: absolute; /* posição absoluta para posicionar o cano dentro do tabuleiro de jogo */
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s linear infinite; /* chama a animação */
}

/* Animação para mover o cano da direita para a esquerda */
@keyframes pipe-animation {
    from {
        right: -80px; /* começa fora da tela */
    }
    to {
        right: 100%; /* termina fora da tela do outro lado */
    }
}

.mario {
    position: absolute;
    bottom: 0; /* posiciona o Mario na parte inferior do tabuleiro de jogo */
    width: 150px;
}

.jump {
    animation: jump 500ms ease-out; /* aplica a animação de pulo quando a classe é adicionada */
}

/* Animação para o pulo do Mario */
@keyframes jump {
    0% {
        bottom: 0; 
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}